.form {
  max-width: 385px;
  box-sizing: border-box;
  font-family: inherit;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 0px;
  margin: 0px;
}

.form__label {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0px 0px 8px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 0px;
}

.form__input {
  border-radius: 4px;
  border: #838383 solid 1px;
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  height: 60px;
  width: 100%;
  max-width: 385px;
  margin-bottom: 32px;
  padding: 0px;
}

.form__input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-left: 15px;
}

.form__button {
  background: #2f80ed;
  border: none;
  height: 60px;
  width: 100%;
  max-width: 385px;
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  border-radius: 4px;
  margin: 0px 0px 32px;
  padding: 0px;
}

.form__button:hover {
  opacity: 0.7;
  transition: opacity 1s ease-in-out;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}
