.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  column-gap: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
}

.nav__link:hover {
  color: #2f80ed;
}
