.page {
  margin: auto;
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  column-gap: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  z-index: 2;
  margin: 183px 0px 0px;
  max-width: 729px;
  font-style: normal;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  font-weight: 500;
}

.header__description {
  z-index: 2;
  max-width: 683px;
  margin: 28px 0px 0px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__image {
  z-index: 1;
  position: absolute;
  top: 124px;
  right: -5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  color: #6f6f6f;
}

.content {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.recipes {
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  margin: 24px 0px 80px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  border-color: #838383;
}

.recipes__video-caption {
  display: flex;
  margin: 24px 0px 0px;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0px 120px;
}

.reservation__title {
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0px 0px 80px;
  text-align: center;
}

.reservation__form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.form {
  max-width: 385px;
  box-sizing: border-box;
  font-family: inherit;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 0;
}

.form__label {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0px 0px 8px;
}

.form__input {
  border-radius: 4px;
  border: #838383 solid;
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  height: 60px;
  width: 100%;
  max-width: 385px;
  margin-bottom: 32px;
}

.form__button {
  background: #2f80ed;
  border: none;
  height: 60px;
  width: 100%;
  max-width: 385px;
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  border-radius: 4px;
  margin: 0px 0px 32px;
}
.form__button:hover {
  opacity: 0.7;
  transition: opacity 1s;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

.form__label_type_checkbox {
  margin: 0px;
  display: flex;
  justify-content: center;
}
